.checkbox-container {
  margin-top: 2.5rem;
}
.terms-whapper {
  margin-bottom: 0.25rem;
  display: flex;
  gap: 0.75rem;
  align-items: flex-start;

  & label {
    all: unset;
    font: var(--text-sm);
  }

  & strong {
    font-weight: 600;
    color: var(--brand-light);
    text-decoration: underline;
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.25rem;
    height: 1.25rem;

    background-image: url(/assets/icons/checkbox-default.svg);
  }

  &:hover,
  &:focus-within {
    .checkbox-image {
      background-image: url(/assets/icons/checkbox-hover.svg);
    }
  }

  &:has(:checked) .checkbox-image {
    background-image: url(/assets/icons/checkbox-checked.svg);
  }
}
