.radio-container {
  background-color: var(--input-base);
  border-radius: 0.5rem;
  padding: 4px;
  border: 1px solid var(--input-stroke);
  display: flex;
  justify-content: center;
  column-gap: 4px;
}

.radio-inner {
  padding: 10.5px;
  border-radius: 4px;
  width: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;

  & input {
    all: unset;
    position: absolute;
    inset: 0;
  }

  & .radio-icon {
    fill: #869198;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 1rem;
    height: 1rem;
  }

  &:has(:checked) {
    background-color: var(--shape-button);
    font-weight: 600;
  }

  &:has(:checked) .radio-icon {
    fill: var(--brand-light);
  }
}
