@import url(fields/index.css);

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

legend {
  font: var(--title-sm);

  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;

  & img {
    width: 1.5rem;
    margin-right: 0.75rem;
  }
}

.event-info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .input-name-wrapper,
  .textarea-wrapper {
    grid-column: 1/5;
  }

  & .datetime-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    grid-column: 1 / 5;
  }

  & .radio-wrapper {
    grid-column: 1 / 3;
  }

  & .input-local-wrapper {
    grid-column: 3 / 5;
  }
}

.input-name-wrapper,
.datetime-wrapper,
.radio-wrapper,
.input-wrapper,
.input-local-wrapper,
.textarea-wrapper {
  display: flex;
  flex-direction: column;
}
