* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-baloo: "Baloo 2", sans-serif;
  --font-opensans: "Open Sans", sans-serif;
  --font-logo: "Leckerli One", cursive;

  --title-md: 700 1.75rem/160% var(--font-baloo);
  --title-sm: 700 1.125rem/160% var(--font-baloo);

  --text: 400 1rem / 130% var(--font-opensans);
  --text-sm: 400 0.875rem /160% var(--font-opensans);
  --text-xs: 400 0.75rem /160% var(--font-opensans);

  --text-danger: 400 0.75rem/160% var(--font-opensans);

  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2d3136;
  --shape-hover: #383d42;

  --input-base: #1c1f21;
  --input-stroke: #363b40;
  --input-placeholder: #869198;

  --brand-light: #59b2ff;
  --brand-mid: #3487cf;
  --brand-dark: #1d6fb6;

  --color-text-body: #c8cdd0;
  --color-text-heading: #f9f9f9;

  --danger-color: #ff5959;
}

body {
  background-color: var(--shape-background);
  font: var(--text);
  color: var(--color-text-body);
}

h1,
h2,
legend {
  color: var(--color-text-heading);
}

.input-wrapper {
  padding-top: 1.75rem;
}

.error-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  font: var(--text-danger);
  color: var(--danger-color);

  margin-top: 0.5rem;
}
